# Ignore built files
*.o
*.d
*.gch

# Ignore compiled files
*.a
*.exe
*.dll
*.out

# Ignore vim stuff
*.swp

# Ignore compressed files
*.tar
*.tar.gz
*.zip

# Development stuff
dev/
error.log
*.diff

# Spectrum files
*.save